@import "../../styles/common.scss"; /* 공통 스타일 임포트 */

/* 문서 카드 스타일 */
.documentCard {
  @extend .common-card; /* 공통 스타일 상속 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.faSquarePlus {
  color: #ebebeb;
  font-size: 70px;
}

.faCircleXmark {
  font-size: 20px;
  position: relative;
  text-align: right;
  top: -25px;
  right: -55%;
  color: #c9c9c9;
}

/* 모달 */
.title {
  @include common-input-style; /* common-input-style 믹스인 적용 */
}

@import "../../styles/buttonStyles.scss";
.linkDocument {
  @extend .button;
  width: 100%;
}

.linkDocument:hover {
  background-color: #0056b3; /* 호버 시 배경 색상 변경 */
}

[data-theme="dark"] {
  .documentCard {
    background-color: #444444;
    border: 1px solid #444444;
    color: white;
  }
  .documentDescription {
    color: white;
  }
  .linkDocument {
    background-color: #939393;
    border: 1px solid #939393;
    color: white;
  }
}
