/* Document.module.scss */
@import "../../styles/common.scss"; /* 공통 스타일 임포트 */

.slideContainer {
  overflow: hidden;
  width: 0;
  transition: width 0.3s;

  &.visible {
    width: 400px; // 원하는 너비로 조정
  }
}

/* 문서 카드 컨테이너 스타일 */
.documentCardContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 16px;
  align-items: center;
  position: relative;
}

/* 문서 카드 스타일 */
.documentCard {
  @extend .common-card; /* 공통 스타일 상속 */

  .documentTitle {
    margin-top: 150px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .documentDescription {
    font-size: 14px;
    color: #555;
    margin-top: 6px;
  }
  /* 링크 스타일 */
}
/* DocumentDetailPage.scss */

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 슬라이딩 메뉴 열림 상태 스타일 */
.menuOpen {
  transform: translateX(0);
  transition: transform 0.3s ease;
  position: relative;
}

/* 슬라이딩 메뉴 닫힘 상태 스타일 */
.menuClosed {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  width: 0;
  position: absolute;
}

.documentInfoLeft {
  transition: transform 0.3s ease;
  padding: 16px;
}
.documentInfoRight {
  transition: transform 0.3s ease;
}

/* Editor 컴포넌트의 스타일 추가 */
.editorContainer {
  flex: 4;
  margin: 0 auto;
}

.documentLink {
  text-decoration: none;
  color: inherit;
}

[data-theme="dark"] {
  .documentCard {
    background-color: #444444;
    border: 1px solid #444444;
    color: white;
  }
  .documentDescription {
    color: white;
  }
}
