/* Document.module.scss */
@import "../../styles/common.scss"; /* 공통 스타일 임포트 */

.slideContainer {
  overflow: hidden;
  width: 0;
  transition: width 0.3s;
  border-right: 2px solid #e0e0e0;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.08);

  &.visible {
    width: 500px;
  }
}

/* 문서 카드 컨테이너 스타일 */
.documentCardContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 16px;
  align-items: center;
  position: relative;
}

/* 문서 카드 스타일 */
.documentCard {
  @extend .common-card; /* 공통 스타일 상속 */

  .documentTitle {
    margin-top: 150px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .documentDescription {
    font-size: 14px;
    color: #555;
    margin-top: 6px;
  }
  //문서 메뉴
  .menuButton {
    position: absolute;
    top: 0;
    right: 5px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333; // 색상은 원하는 대로 변경
    padding: 8px;
  }

  .menu {
    position: absolute;
    top: 15%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .menuItem {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
/* DocumentDetailPage.scss */

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.documentInfoLeft {
  transition: transform 0.3s ease;
  padding: 16px;
}
.documentInfoRight {
  transition: transform 0.3s ease;
}

/* Editor 컴포넌트의 스타일 추가 */
.editorContainer {
  flex: 4;
  margin: 0 auto;
}

.documentLink {
  text-decoration: none;
  color: inherit;
}

[data-theme="dark"] {
  .documentCard {
    background-color: #444444;
    border: 1px solid #444444;
    color: white;
  }
  .documentDescription {
    color: white;
  }
  .menuButton {
    color: white;
  }
}
