.versionList {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.versionItem {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 8px;
  border-bottom: 1px solid#e0e0e0;
  &:hover {
    background-color: #e0e0e0;
  }
}

.selectedVersion {
  background-color: #007bff;
  color: white;

  &:hover {
    background-color: #0056b3;
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;

  div {
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }

  button {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #0056b3;
    }
  }
}
[data-theme="dark"] {
  .versionList {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-color: #333; /* 다크 모드 배경 색상 */
  }

  .versionItem {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    &:hover {
      background-color: #e0e0e0;
    }
  }
  .selectedVersion {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3; /* 선택된 버전의 호버 배경 색상 유지 */
    }
  }

  .modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 투명도 조절 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modalContent {
    background-color: #444; /* 다크 모드 배경 색상 */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;

    div {
      margin-bottom: 10px;
    }

    input[type="text"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #777; /* 다크 모드 테두리 색상 */
      border-radius: 4px;
      box-sizing: border-box;
      outline: none;
      background-color: #333; /* 다크 모드 배경 색상 */
      color: white; /* 다크 모드 텍스트 색상 */
    }

    button {
      padding: 8px 16px;
      margin-right: 10px;
      background-color: #007bff; /* 기본 버튼 배경 색상 유지 */
      color: #fff; /* 기본 버튼 텍스트 색상 유지 */
      border: none;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #0056b3; /* 기본 버튼 호버 배경 색상 유지 */
      }
    }
  }
  .versionList {
    background-color: #333;
    color: white;
    /* 다크 모드에 맞게 스타일 추가 */
  }

  .versionItem {
    background-color: #444;
    color: white;
    /* 다크 모드에 맞게 스타일 추가 */
  }

  .selectedVersion {
    background-color: #007bff;
    color: white;
    /* 다크 모드에 맞게 스타일 추가 */
  }

  .modalContainer {
    background-color: rgba(0, 0, 0, 0.7);
    /* 다크 모드에 맞게 스타일 추가 */
  }

  .modalContent {
    background-color: #444;
    color: white;
    /* 다크 모드에 맞게 스타일 추가 */
  }
}
