/* Document.module.scss */
@import "../../styles/common.scss"; /* 공통 스타일 임포트 */

/* 문서 카드 스타일 */

/* 문서 카드 컨테이너 스타일 */
.documentCardContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 16px;
  align-items: center;
  position: relative;
}

/* 문서 카드 스타일 */
.documentCard {
  @extend .common-card; /* 공통 스타일 상속 */

  .documentTitle {
    margin-top: 150px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .documentDescription {
    font-size: 14px;
    color: #555;
    margin-top: 6px;
  }
  /* 링크 스타일 */
}
/* DocumentDetailPage.scss */

/* 스타일을 원하는 대로 추가하세요 */
.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.documentInfoLeft {
  flex: 3;
  padding: 16px;
}

.documentInfoRight {
  flex: 1;
}

/* Editor 컴포넌트의 스타일 추가 */
.editorContainer {
  flex: 4;
  margin: 0 auto;
}

.documentLink {
  text-decoration: none;
  color: inherit;
}

[data-theme="dark"] {
  .documentCard {
    background-color: #444444;
    border: 1px solid #444444;
    color: white;
  }
  .documentDescription {
    color: white;
  }
}
