/* Document.module.scss */

/* 문서 카드 컨테이너 스타일 */
.documentCardContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 16px;
  align-items: center;
  position: relative;
}

/* 문서 카드 스타일 */
.documentCard {
  width: 150px;
  height: 200px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }

  .documentTitle {
    margin-top: 150px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .documentDescription {
    font-size: 14px;
    color: #555;
    margin-top: 6px;
  }
  /* 링크 스타일 */
}
/* DocumentDetailPage.scss */

/* 스타일을 원하는 대로 추가하세요 */
.container {
  margin: 0 auto;
  width: 900px;
}

/* Editor 컴포넌트의 스타일 추가 */
.editorContainer {
  margin: 0 auto;
  width: 900px;
}

.documentLink {
  text-decoration: none;
  color: inherit;
}
[data-theme="dark"] {
  .documentCard {
    background-color: #444444;
    border: 1px solid #444444;
    color: white;
  }
  .documentDescription {
    color: white;
  }
}

