.ql-toolbar.ql-snow {
  background-color: white; /* 툴바 배경색을 변경 */
  color: #333333; /* 툴바 아이콘 색상을 변경 */
}

.ql-snow.ql-toolbar button.ql-compare {
  width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ql-container{
  width: 210mm;
  margin: auto;

}
.ql-compare.ql-active {
  color: #007bff; // 예: #333333
}
.ql-compare {
  &::before {
    content: "비교"; // 버튼의 텍스트
  }
}
.ql-upload {
  &::before {
    content: "사진 업로드"; // 버튼의 텍스트
  }
}

[data-theme="dark"] {
  .ql-toolbar.ql-snow {
    background-color: #333333; /* 툴바 배경색을 변경 */
    color: white; /* 툴바 아이콘 색상을 변경 */
  }
  .ql-toolbar.ql-snow .ql-formats .ql-picker,
  .ql-picker-options,
  .ql-picker-label,
  .ql-snow .ql-stroke,
  .ql-compare {
    stroke: white;
    background-color: #333333; /* 툴바 배경색을 변경 */
    color: white; /* 툴바 아이콘 색상을 변경 */
  }
}
