.custom-quill {
  .ql-toolbar.ql-snow {
    background-color: white; /* 툴바 배경색을 변경 */
    color: #333333; /* 툴바 아이콘 색상을 변경 */
  }
}
[data-theme="dark"] {
  .ql-toolbar.ql-snow .formats button {
    background-color: #333333; /* 툴바 배경색을 변경 */
    color: white; /* 툴바 아이콘 색상을 변경 */
  }
}
